<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Gestion des droits d'accès</h4>
            
                <table class="table">
                    
                <tbody>
                    <tr><th>Autorisations</th></tr>
                  <tr>
                   
                    <td>
                        
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Administration
                    </label>
                  </div>
               
                </td>
                </tr>
                <tr>
                    
                    <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                    <label class="form-check-label" for="flexCheckChecked">
                      Gestion d'accès
                    </label>
                  </div>
                
            
            </td></tr>

            <tr>
                    
                <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" >
                <label class="form-check-label" for="flexCheckChecked">
                  Paramétrage
                </label>
              </div>
            
        
        </td></tr>

        <tr>
                    
            <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
              Consultation
            </label>
          </div>
        
    
    </td></tr>
        
        </tbody>
        </table>


        <table class="table">
                    
            <tbody>
                <tr><th>Périmètre</th></tr>
              <tr>
               
                <td>
                    
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label" for="flexCheckDefault">
                    POMONA PF MILLERY
                </label>
              </div>
           
            </td>
            </tr>
            <tr>
                
                <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                <label class="form-check-label" for="flexCheckChecked" >
                    POMONA PF CHILLY MAZARIN
                </label>
              </div>
            
        
        </td></tr>

        <tr>
                
            <td>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                POMONA PF CARQUEFOU 2
            </label>
          </div>
        
    
    </td></tr>

    <tr>
                
        <td>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
            DELICE & CREATION CBP 67 
        </label>
      </div>
    

</td></tr>
    
    </tbody>
    </table>
                
</div>
</div>